---
import Layout from "../layouts/Layout.astro";
import Frame from "../components/Frame";
---

<Layout title="Studio Ghibli API">
  <header>
    <div class="navbar bg-primary text-primary-content">
      <a href="https://ghibliapi.vercel.app/" class="btn btn-ghost text-xl"
        >Studio Ghibli API
        <img src="favicon.svg" />
      </a>
    </div>
  </header>
  <body>
    <Frame client:load />
  </body>
</Layout>
